.logo{
  width: 300px;
}
.input{
  height: 60px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 20px;
}
.input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}
.button{
  height: 60px;
  border-radius: 15px;
  font-size: 20px;
}
.input-error {
  border-color: red; 
}
.message-error{
  color: red;
}
